@import "tailwindcss";
* {
  box-sizing: border-box;
}

@theme {
  --font-sans: var(--font-roboto), Roboto, system-ui, sans-serif;
  --font-serif: var(--font-lora), Georgia, serif;
}

@layer utilities {
  .image-text {
    color: #ffffff;
    -webkit-text-stroke: .6px #000000;
    paint-order: stroke fill;
  }
}